<!DOCTYPE html>
<html ng-app="hammercreekApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hammer Creek Brewing</title>
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-controller="BeerMenuCtrl" >
    @RenderBody()
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hammer Creek Brewing", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @*<div class="container">

        <div class="row">
            <div class="col-lg-12"> 
                <h1 class="tagline">Welcome To Hammer Creek Brewing</h1>
            </div>
        </div>

    </div>*@

    <div ng-repeat="location in locations" ng-cloak>
        <div class="container body-content">
            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">
                        {{location.Name}}

                    </h1>
                </div>

            </div>

            <div class="row">
                <div class=" col-md-4 portfolio-item">Name</div>
                <div class=" col-md-4 portfolio-item">Tap</div>
                <div class=" col-md-4 portfolio-item">Keg No.</div>
            </div>
            <div class="row">

                <div ng-repeat="beer in allBeer | filter:{LocationName:location.Name}">
                    @*<a href="#project-link">
                            <img class="img-responsive" src="http://placehold.it/700x400">
                        </a>*@
                    <div class=" col-md-4 portfolio-item">
                        <h4>
                            <a href=""> {{beer.Name}}</a>
                        </h4>
                    </div>

                    <div class=" col-md-4 portfolio-item">
                        <h4>
                            <a href=""> {{beer.TapName}}</a>
                        </h4>
                    </div>
                    <div class=" col-md-4 portfolio-item">
                        <h4>
                            <a href=""> {{beer.KegId}}</a>
                        </h4>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Hammer Creek Brewing</p>
    </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-resource.js"></script>
    <script src="/Scripts/App/controller.js"></script>
</body>
</html>
