@model HammerCreekBrewing.Models.Beer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Beer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StyleId, "StyleId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StyleId", String.Empty)
                @Html.ValidationMessageFor(model => model.StyleId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TapName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TapName)
                @Html.ValidationMessageFor(model => model.TapName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocationId)
                @Html.ValidationMessageFor(model => model.LocationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrewDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BrewDate)
                @Html.ValidationMessageFor(model => model.BrewDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KeggedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KeggedDate)
                @Html.ValidationMessageFor(model => model.KeggedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TappedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TappedDate)
                @Html.ValidationMessageFor(model => model.TappedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Abv, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Abv)
                @Html.ValidationMessageFor(model => model.Abv)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KegId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KegId)
                @Html.ValidationMessageFor(model => model.KegId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OnTap, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OnTap)
                @Html.ValidationMessageFor(model => model.OnTap)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
